<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings xdt:Transform="Replace" xmlns:xdt="http://schemas.microsoft.com/XML-DocumentLoader-Transform">
    <add name="MySqlDatabase"
         connectionString="Server=84.201.188.15;Port=3306;Database=hackathon_monica;User Id=develop;Password=$zXcvbnm512$;TreatTinyAsBoolean=true;charset=utf8;" providerName="System.Data.SqlClient" />
    <add name="MySqlDatabaseIS4"
         connectionString="Server=84.201.188.15;Port=3306;Database=identityserver4;User Id=develop;Password=$zXcvbnm512$;TreatTinyAsBoolean=true;charset=utf8;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
