<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <SmtpEmail>info@monicadevelop.ru</SmtpEmail>
  <SmtpEmailDisplay>От Monica игрового покерного рума</SmtpEmailDisplay>
  <SmtpLogin>120789p@gmail.com</SmtpLogin>
  <SmtpPassword>KvTqwoZJR1Em</SmtpPassword>
  <SmtpServer>connect.smtp.bz</SmtpServer>
  <SmtpPort>465</SmtpPort>
  <SmtpEnableSSL>True</SmtpEnableSSL>
  <NumberItemsSendEMailGroup></NumberItemsSendEMailGroup>
</configuration>