<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <DataBase>
    <Used>MySql</Used>
  </DataBase>
  <ConnectionStrings>
    <DefaultConnection>Server=localhost;Port=3306;Database=identityserver4;User Id=RassvetAis;Password=RassvetLine6642965</DefaultConnection>
  </ConnectionStrings>
</configuration>