<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <HtmlSetPassword>
    <Subject>Установка пароля</Subject>
    <HtmlFile>SetPawwsword.html</HtmlFile>
  </HtmlSetPassword>
  <HtmlResetPassword>
    <Subject>Восстановление пароля</Subject>
    <HtmlFile>SetPawwswordReset.html</HtmlFile>
  </HtmlResetPassword>
  <ConfirmEmail>
    <Subject>Подтверждение адреса электронной почты</Subject>
    <HtmlFile>ConfirmEmail.html</HtmlFile>
  </ConfirmEmail>
</configuration>